<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/public/estilos.css">
</head>

<body>
    <header>
        <ul class="w3-bar w3-red w3-large">
            <li class="w3-bar-item w3-hover-blue"><a href="/home/list">Home</a></li>
            <li class="w3-bar-item w3-hover-blue"><a href="">Iniciar sesion</a></li>
            <li class="w3-bar-item w3-hover-blue"><a href="/registro/mostrarVista">Registrarse</a></li>
        </ul>
    </header>
</body>

</html>