<section class="estadisticas">
<h1>Estadísticas</h1>
{{#cantUsuariosLogueadoss}}
<h3>Cantidad de usuarios logueados: {{cantUsuariosLogueadoss}}</h3>
{{/cantUsuariosLogueadoss}}

{{#cantPokemones}}
<h3>Cantidad de pokemones: {{cantPokemones}}</h3>
{{/cantPokemones}}

<a href="/admin/list" class="w3-button w3-green w3-small">Volver</a>
</section>