<div class="contenedor_pokemon">


    {{#pokemon}}
    <div class="">
        <div class="caja_individual">
            <p>ID: </p>
            {{id}}
        </div>

        <div class="caja_individual">
            <p>Nombre: </p>
            {{nombre}}
        </div>

        <div class="caja_individual">
            <p>Tipo</p>
            <img src='{{tipo}}'>
        </div>


        <div class="caja_individual">
            <img src='{{imagen}}'>
        </div>
    </div>

    {{/pokemon}}


</div>