<div class="contenedor_pokemon" style="padding: 50px">
    {{#pokemon}}
    <div class="">
        <div class="caja_individual">
            <p class="campo_del_pokemon">ID: </p>
            {{id}}
        </div>

        <div class="caja_individual">
            <p class="campo_del_pokemon">Nombre: </p>
            {{nombre}}
        </div>

        <div class="caja_individual">
            <p class="campo_del_pokemon">Tipo </p>
            <img src='{{tipo}}'>
        </div>


        <div class="caja_individual">
            <img src='{{imagen}}' style="width: 150; height: 150px;">
        </div>
    </div>

    {{/pokemon}}


</div>