{{#sesionOk}}
<div>
<h1 class="w3-center w3-padding-16 ">{{sesionOk}}</h1>
</div>
{{/sesionOk}}

<section class="opciones">
    <div>
        <form action="/home/buscar" method="get">
            <label for="campoABuscar">Ingresá id, nombre o tipo de un pokemon: </label>
            <input type="text" name="campoABuscar" id="campoABuscar" class="w3-medium">
            <label for="busqueda"></label>
            <input type="submit" name="busqueda" value="Buscar" class="w3-button w3-blue w3-small">
        </form>
    </div>

    <div>
        <a href="/admin/showAlta" class="w3-button w3-blue w3-small">Dar de alta un pokemon</a>
        <a href="/admin/estadisticas" class="w3-button w3-blue w3-small">Ver estadísticas</a>
        <div class="caja_individual">
        <form action="/admin/filtrar" method="get">
        <label for="tipo">Seleccioná el tipo de pokémon</label>
        <select name="tipo" id="tipo">
        <option value="agua">Agua</option>
        <option value="bicho">Bicho</option>
        <option value="fuego">Fuego</option>
        <option value="planta">Planta</option>
        </select>
        <input type="submit" name="filtrar" value="Filtrar">
        </form>
        </div>
        
        <a href="/iniciarSesion/cerrarSesion" class="w3-button w3-white w3-border w3-border-red w3-small">Cerrar sesión</a>
    </div>

</section>
<div class="contenedor_pokemon" style="padding: 50px">
    {{#pokemon}}
    <div class="">
        <div class="caja_individual">
            <p class="campo_del_pokemon">ID: </p>
            {{id}}
        </div>

        <div class="caja_individual">
            <p class="campo_del_pokemon">Nombre: </p>
            {{nombre}}
        </div>

        <div class="caja_individual">
            <p class="campo_del_pokemon">Tipo </p>
            <img src='{{tipo}}'>
        </div>


        <div class="caja_individual">
            <img src='{{imagen}}' style="width: 150; height: 150px;">
        </div>

        <div class="caja_individual w3-padding-24">
            <a href="/admin/borrar/id={{id}}" class="w3-button w3-red w3-small">Borrar</a>
        </div>

    </div>

    {{/pokemon}}

</div>